# LIST

In [1]:
lst = [10,25.5,"cat",[5,6,7]]

In [2]:
lst

[10, 25.5, 'cat', [5, 6, 7]]

In [3]:
lst.append("dog")

In [8]:
lst

[10, 25.5, 'cat', [5, 6, 7], 'dog']

In [20]:
lst.count(25.5)

1

In [25]:
lst

[10, 25.5, 'cat', [5, 6, 7], 'dog']

In [28]:
lst1 = lst.copy()
print("list=", lst1 )

list= [10, 25.5, 'cat', [5, 6, 7], 'dog']

In [30]:
lst = [10,25.5,"cat",[5,6,7]]
lst2 =[100,200]
lst.extend(lst2)
print("ext list =", lst)

ext list = [10, 25.5, 'cat', [5, 6, 7], 100, 200]

In [31]:
lst.index(100)

4

In [32]:
lst

[10, 25.5, 'cat', [5, 6, 7], 100, 200]

In [33]:
lst.insert(2,'dog')

In [34]:
lst

[10, 25.5, 'dog', 'cat', [5, 6, 7], 100, 200]

In [35]:
lst.pop(2)
lst

[10, 25.5, 'cat', [5, 6, 7], 100, 200]

In [37]:
lst.remove(100)
lst

[10, 25.5, 'cat', [5, 6, 7], 200]

In [44]:
list = ['cat','dog','rat']
list.reverse()
print(list)

['rat', 'dog', 'cat']

In [48]:
list=[3,5,7,2,1,0]
list.sort()
print(list)

[0, 1, 2, 3, 5, 7]

In [49]:
lst

[200, [5, 6, 7], 'cat', 25.5, 10]

In [51]:
lst.clear()
print(lst)

[]

# DICTIONARY

In [52]:
dit = {"name":"sulu","age":"12","place":"Goa","animal":"cat"}

In [53]:
dit

{'name': 'sulu', 'age': '12', 'place': 'Goa', 'animal': 'cat'}

In [54]:
new = dit.copy()
print("new=",new)

new= {'name': 'sulu', 'age': '12', 'place': 'Goa', 'animal': 'cat'}

In [55]:
keys={1,2,3}
value="num"
num=dit.fromkeys(keys,value)
print(num)

{1: 'num', 2: 'num', 3: 'num'}

In [56]:
dit

{'name': 'sulu', 'age': '12', 'place': 'Goa', 'animal': 'cat'}

In [57]:
print("NAME:",dit.get("name"))

NAME: sulu

In [58]:
dit.items()

dict_items([('name', 'sulu'), ('age', '12'), ('place', 'Goa'), ('animal', 'cat')])

In [59]:
dit.keys()

dict_keys(['name', 'age', 'place', 'animal'])

In [61]:
dit.pop("animal")

'cat'

In [62]:
dit.setdefault("place")

'Goa'

In [63]:
dit

{'name': 'sulu', 'age': '12', 'place': 'Goa'}

In [66]:
dit1={"age":"10"}
dit.update(dit1)
dit

{'name': 'sulu', 'age': '10', 'place': 'Goa'}

In [74]:
dit.values()

dict_values(['sulu', '10', 'Goa'])

In [75]:
dit.clear()
dit

{}

# SETS

In [68]:
st = {1,2,3,"sulu","golu",25.5,100}

In [76]:
st.add(4)
st

{1, 100, 2, 25.5, 3, 4, 'golu', 'sulu'}

In [79]:
st = {1,2,3,"sulu","golu",25.5,100}
st1=st.copy()
st1

{1, 100, 2, 25.5, 3, 'golu', 'sulu'}

In [81]:
A ={1,2,3,4}
B ={2,3,7}
A.difference(B)

{1, 4}

In [86]:
A ={1,2,3,4}
B ={2,3,7}
result = A.difference_update(B)
print(result)

None

In [87]:
A ={1,2,3,4}
A.discard(3)
print(A)

{1, 2, 4}

In [88]:
A ={1,2,3,4}
B ={2,3,7}
print(A.intersection(B))

{2, 3}

In [89]:
A ={1,2,3,4}
B ={2,3,7}
result = A.intersection_update(B)
print(A)
print(B)
print(result)

{2, 3}
{2, 3, 7}
None

In [90]:
A ={1,2,3,4}
B ={0,5,7}
A.isdisjoint(B)

True

In [91]:
A ={1,2,3,4}
B ={1,2}
B.issubset(A)

True

In [92]:
A

{1, 2, 3, 4}

In [94]:
A.pop()
A

{2, 3, 4}

In [95]:
A ={1,2,3,4}
B ={1,2}
A.symmetric_difference(B)

{3, 4}

In [97]:
A ={1,2,3,4}
B ={2,3,7}
result = A.symmetric_difference_update(B)
print(A)
print(B)
print(result)

{1, 4, 7}
{2, 3, 7}
None

In [98]:
A ={1,2,3,4}
B ={2,3,7}
A.union(B)

{1, 2, 3, 4, 7}

In [100]:
A ={1,2,3,4}
B ={2,3,7}
result = A.update(B)
print(A)
print(result)

{1, 2, 3, 4, 7}
None

In [101]:
A

{1, 2, 3, 4, 7}

In [103]:
A.clear()
A

set()

# TUPLE

In [107]:
tup = ("cat","dog","rat")
tup

('cat', 'dog', 'rat')

In [108]:
tup.count("rat")

1

In [111]:
tup.index("cat")

0

# STRINGS

In [117]:
name = "sulu rao"
name1 = "tina fernandes"
name2 ="tia lali"
name + " and " + name1

'sulu rao and tina fernandes'

In [118]:
type(name1)

str

In [119]:
print(name[2])

l

In [120]:
name[2:]

'lu rao'

In [124]:
name = "sulu rao"
name.count("u")

2